.category-form {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    /*background: #fff;*/
    border: 1px solid #ddd;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #090909;
}

form label {
    color: #070707;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: smaller;
}
